<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${title}"></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha2/css/bootstrap.min.css">
</head>

<body style="min-height: 100vh;" class="d-flex flex-column">
    <header th:insert="blocks/header :: header"></header>

    <div class="container mt-5" style="flex-grow: 1;">
        <h1 class="text-center mb-5 font-weight-light">Academic</h1>
        <table class="table table-dark table-striped table-hover table-borderless table-sm">
            <th>Engineering</th>
            <th>Social Science</th>
            <th>Life Science</th>
            <tbody>
                <td>Mechanical / Automotive Engineering</td>
                <td>Hotel and Tourism</td>
                <td>Chemical Engineering</td>
            </tbody>
            <tbody>
                <td>Mechatronics / Electrical Engineering</td>
                <td>International Business Administration</td>
                <td>Food Technology</td>
            </tbody>
            <tbody>
                <td>Aviation / Avionics</td>
                <td>International Management</td>
                <td>Biomedical Engineering</td>
            </tbody>
            <tbody>
                <td>Industrial Engineering</td>
                <td>International Relations</td>
                <td></td>
            </tbody>
            <tbody>
                <td>Computer Science</td>
                <td></td>
                <td></td>
            </tbody>
        </table>
    </div>
    <hr>
    <div class="container mt-5" style="flex-grow: 1;">
        <h1 class="text-center mb-5 font-weight-light">Scholarship</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer finibus faucibus eros vitae
            finibus. Nam fringilla varius arcu, ac faucibus arcu auctor in. Maecenas ultrices, urna nec
            laoreet pretium, ipsum ante egestas sem, maximus vehicula neque sem quis arcu. Fusce posuere
            dapibus ligula id placerat. Integer hendrerit accumsan velit in suscipit. Mauris quis congue
            sapien, non vulputate felis. Praesent dictum odio arcu, id finibus risus elementum a. Quisque
            aliquet aliquam massa vel sollicitudin. Mauris dignissim at mauris sit amet aliquam.
        </p>
        <a class="btn btn-info" th:href="@{'/academic/scholarship'}">See more</a>
    </div>
    <footer th:insert="blocks/footer :: footer"></footer>
</body>

</html>