<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title th:text="${title}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha2/css/bootstrap.min.css">
</head>

<body style="min-height: 100vh;" class="d-flex flex-column">
    <header th:insert="blocks/header :: header">
    </header>
    <main style="flex-grow: 1;">
        <section class="py-5 text-center container">
            <div class="row py-lg-5">
                <div class="col-lg-6 col-md-8 mx-auto">
                    <h1 class="font-weight-light">Softy</h1>
                    <p class="lead text-muted">

                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer finibus faucibus eros vitae
                        finibus. Nam fringilla varius arcu, ac faucibus arcu auctor in. Maecenas ultrices, urna nec
                        laoreet pretium, ipsum ante egestas sem, maximus vehicula neque sem quis arcu. Fusce posuere
                        dapibus ligula id placerat. Integer hendrerit accumsan velit in suscipit. Mauris quis congue
                        sapien, non vulputate felis. Praesent dictum odio arcu, id finibus risus elementum a. Quisque
                        aliquet aliquam massa vel sollicitudin. Mauris dignissim at mauris sit amet aliquam.
                    </p>
                    <p class="lead text-muted">
                        Suspendisse potenti. Nulla tincidunt risus metus, at interdum ligula aliquet non. Integer ut
                        quam turpis. Ut vitae maximus massa. Donec ut cursus lorem. Vivamus consequat mauris eu nibh
                        luctus placerat. Nullam non ornare ante. Pellentesque malesuada pellentesque laoreet. Proin elit
                        nulla, faucibus ut tristique quis, viverra at nisi.
                    </p>
                    <p class="lead text-muted">
                        Nam luctus mauris feugiat, lacinia dolor at, vestibulum risus. Vivamus vel mauris justo. Aenean
                        gravida erat lorem, eget vehicula ipsum scelerisque at. Mauris mollis ultricies ligula blandit
                        luctus. Phasellus at risus ut elit semper aliquet quis a orci. Praesent malesuada pulvinar erat,
                        nec varius neque gravida sed. Nulla sed fermentum augue.
                    </p>
                    <p class="lead text-muted">
                        Maecenas eget ornare lorem. Nulla quis venenatis justo. Suspendisse tempor enim ac eros
                        efficitur, vitae varius tortor sagittis. Quisque blandit imperdiet tellus eget dictum. Etiam
                        faucibus tellus ut ipsum pulvinar commodo. Etiam mauris risus, sagittis at porta id, suscipit
                        non erat. Pellentesque volutpat tempor sollicitudin. Nulla eu purus vitae sem convallis
                        tincidunt. Donec molestie ut odio et ullamcorper.
                    </p>
                    <p class="lead text-muted">
                        Donec tincidunt accumsan quam, posuere sollicitudin mauris malesuada et. Integer semper non
                        massa vel iaculis. Quisque dictum mollis elit, et dignissim nisl consectetur nec. Sed ex ante,
                        mollis sit amet sollicitudin a, feugiat eu justo. Pellentesque malesuada mauris a quam accumsan,
                        vitae pretium quam blandit. Donec vel neque arcu. Curabitur a metus augue. Nullam mollis dolor
                        quis fringilla feugiat. Phasellus non odio vel nibh rutrum commodo. Donec pellentesque tincidunt
                        molestie. Sed hendrerit erat metus, consectetur mattis urna congue non. Fusce mauris eros,
                        efficitur eget pellentesque sed, aliquet ut diam. Duis mattis sem tellus, vel consectetur augue
                        consequat non.
                    </p>
                    <p>
                        <a href="#" class="btn btn-primary my-2">Sign Up</a>
                        <button type="button" class="btn btn-primary" data-toggle="modal"
                            data-target="#exampleModal">Guide</button>
                    </p>

                    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                        aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Guide</h5>
                                    <button type="button" class="btn-close" data-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer finibus faucibus eros vitae
                                    finibus. Nam fringilla varius arcu, ac faucibus arcu auctor in. Maecenas ultrices, urna nec
                                    laoreet pretium, ipsum ante egestas sem, maximus vehicula neque sem quis arcu. Fusce posuere
                                    dapibus ligula id placerat. Integer hendrerit accumsan velit in suscipit. Mauris quis congue
                                    sapien, non vulputate felis. Praesent dictum odio arcu, id finibus risus elementum a. Quisque
                                    aliquet aliquam massa vel sollicitudin. Mauris dignissim at mauris sit amet aliquam.
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </section>
    </main>
    <footer th:insert="blocks/footer :: footer">
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha3/dist/js/bootstrap.min.js"
        integrity="sha384-t6I8D5dJmMXjCsRLhSzCltuhNZg6P10kE0m0nAncLUjH6GeYLhRU1zfLoW3QNQDF"
        crossorigin="anonymous"></script>
</body>

</html>