<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org"
    layout:decorate="~{blocks/main}">

<head>
    <title>Softy - Home</title>
</head>

<body>
    <!-- ########## START: MAIN PANEL ########## -->
    <div layout:fragment="content">
        <div class="br-mainpanel">
            <div class="br-pagetitle">
                <i class="icon ion-ios-home-outline tx-70 lh-0"></i>
                <div>
                    <h4>Softy - Home </h4>
                    <p class="mg-b-0">Your Personal and Customized Page.</p>
                </div>
            </div><!-- d-flex -->

            <div class="br-pagebody">
                <img th:src="@{/img/kirby.gif}" />
                <h3 class="display-6"><a class="text-decoration-none text-success" href="/forum/post">See Your Posts</a></h3>
                <h3 class="display-6"><a class="text-decoration-none text-success" href="/forum/academic">See Academic Related Posts</a></h3>
                <h3 class="display-6"><a class="text-decoration-none text-success" href="/forum/jobs">See Jobs Related Posts</a></h3>
            </div><!-- br-pagebody -->
        </div>
    </div><!-- br-mainpanel -->
    <!-- ########## END: MAIN PANEL ########## -->
</body>

</html>