<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org"
layout:decorate="~{blocks/main}">

<head>
    <title th:text="${title}"></title>
</head>

<body>
    <div layout:fragment="content">
        <div class="br-mainpanel">
            <!-- JOBS VACANCY POST-->
            <div class="br-pagetitle">
                <i class="icon ion-ios-briefcase-outline tx-70 lh-0"></i>
                <div>
                    <h4>Softy - Jobs Vacancy </h4>
                    <p class="mg-b-0">View Recent and Trending Jobs Listings.</p>
                </div>
            </div><!-- d-flex -->
    
            <div class="br-pagebody">
                <div class="container mt-5" style="flex-grow: 1;">
                    <p class="font-weight-light">There's none at the moment, do come back again :)</p>
                </div>
            </div><!-- br-pagebody -->
        </div><!-- br-mainpanel -->
        <!-- ########## END: MAIN PANEL ########## -->
    </div>
</body>

</html>