<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org"
layout:decorate="~{blocks/main}">

<head>
    <title th:text="${title}"></title>
</head>

<body>
    <div layout:fragment="content">
        <div class="br-mainpanel" th:fragment="main">
            <div class="br-pagetitle">
                <i class="icon ion-ios-list-outline tx-70 lh-0"></i>
                <div>
                    <h4>Softy - Post List </h4>
                    <p class="mg-b-0">View Your Post Lists Here.</p>
                </div>
            </div><!-- d-flex -->
    
            <div class="br-pagebody">
                <!-- POST LIST -->
                <div class="container mt-5" style="flex-grow: 1;">
                    <h1 class="text-center mb-5 font-weight-light">Post List</h1>
                    <a class="mb-5 btn btn-success" th:href="@{'/post/add'}">Add a Post</a>
                    <div th:each="el : ${posts}" class="alert alert-info mt-2">
                        <h3 th:text="'#' + ${el.id} + '. ' + ${el.title}" />
                        <p th:text="${el.anons}" />
                        <!-- <a th:href="'/post/' + ${el.id}" class="btn btn-info">Details...</a> -->
                        <a th:href="@{'/post/'+${el.id}}" class="btn btn-info">Details...</a>
                    </div>
                </div>
            </div><!-- br-pagebody -->
        </div><!-- br-mainpanel -->
        <!-- ########## END: MAIN PANEL ########## -->
    </div>
</body>

</html>