<div th:fragment="header">
    <header class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm"><p class="h5 my-0 mr-md-auto font-weight-normal">Softy</p>
        <nav class="my-2 my-md-0 mr-md-3">
            <a class="p-2 text-dark" href="/forum">Home</a>
            <a class="p-2 text-dark" href="/forum/post">Post</a>
            <a class="p-2 text-dark" href="/forum/academic">Academic</a>
            <a class="p-2 text-dark" href="/forum/jobs">Job Vacancy</a>
        </nav>
        <a class="btn btn-outline-primary" href="#">Sign up</a>
    </header>
</div>