<!-- ########## START: LEFT PANEL ########## -->
<div th:fragment="left-panel">
    <div class="br-logo"><a href="/forum"><span>[</span>Softy<span>]</span></a></div>
    <div class="br-sideleft sideleft-scrollbar">
        <label class="sidebar-label">Navigation</label>
        <ul class="br-sideleft-menu">
            <li class="br-menu-item">
                <a href="/forum" class="br-menu-link active">
                    <i class="menu-item-icon icon ion-ios-home-outline tx-24"></i>
                    <span class="menu-item-label">Home</span>
                </a><!-- br-menu-link -->
            </li><!-- br-menu-item -->

            <li class="br-menu-item">
                <a href="/forum/post" class="br-menu-link">
                    <i class="menu-item-icon ion-ios-redo-outline tx-24"></i>
                    <span class="menu-item-label">Posts</span>
                </a><!-- br-menu-link -->
            </li><!-- br-menu-item -->

            <li class="br-menu-item">
                <a href="/forum/academic" class="br-menu-link">
                    <i class="menu-item-icon ion-ios-redo-outline tx-24"></i>
                    <span class="menu-item-label">Academic</span>
                </a><!-- br-menu-link -->
            </li><!-- br-menu-item -->

            <li class="br-menu-item">
                <a href="/forum/jobs" class="br-menu-link">
                    <i class="menu-item-icon ion-ios-redo-outline tx-24"></i>
                    <span class="menu-item-label">Job Vacancy</span>
                </a><!-- br-menu-link -->
            </li><!-- br-menu-item -->

        </ul><!-- br-sideleft-menu -->
        <br>
    </div><!-- br-sideleft -->
</div>
<!-- ########## END: LEFT PANEL ########## -->